.party-color-bar {
  width: 1rem;
  height: 2rem;
}

.party-color-自民党 {
  background-color: #ff0000;
}
.party-color-立憲民主党 {
  background-color: #0000ff;
}
.party-color-日本維新の会 {
  background-color: #00ff00;
}
.party-color-公明党 {
  background-color: #ffff00;
}
.party-color-共産党 {
  background-color: #ff00ff;
}
.party-color-国民民主党 {
  background-color: #00ffff;
}
.party-color-社民党 {
  background-color: #ff8000;
}
.party-color-参政党 {
  background-color: #8000ff;
}
.party-color-無所属 {
  background-color: #808080;
}
