.event {
    left: 0;
    right: 0;
    background-color: rgba(59, 130, 246, 0.5);
    font-size: 0.75rem;
    padding: 0.25rem;
    overflow: hidden;
    z-index: 10;
    position: absolute;
  }
  
  