.event {
    background-color: rgba(59, 130, 246, 0.5);
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 2px;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  