/* src/components/StatsView.css */
.record-progress {
  transition: width 0.3s ease-in-out;
  width: var(--progress-width, 0%);
}

.progress-bar-container {
  margin-top: 0.5rem;
  height: 0.5rem;
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 9999px;
}

.progress-bar {
  height: 0.5rem;
  background-color: #3b82f6;
  border-radius: 9999px;
}